# macOS
.DS_Store

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
DerivedData/
.build/

# Swift Package Manager
.swiftpm/xcode/xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
